body{
    margin: 0;
    font-family:monospace;
    font-size: 1.4em;
    font-weight:bold;
}

.navbar{
<<<<<<< Updated upstream
    background: #000000e6;
    color:#690DAB;
    .logo{
        text-decoration: none;
        font-weight: bold;
        font-size: 2em;
    }
}

.welcome{ 
    background: #690dabda;
}

.about{ 
    background: #2b2b2bda;
    color:#690DAB;
}

.education{ 
    background: #690dabda;
}

.contact{ 
    background: #2b2b2bda;
    text-decoration: none;
=======
    display: flex;
    background: #000000e6;
    color:#690DAB;
    width: 100%;
    height: auto;
    padding: 0;

    ul.nav{
        display: flex;
        padding: 1em;
        font-size: 1.5em;
        grid-template-columns: auto;
    }

    .logo{
        font-weight: bold;
        font-size: 1.8em;
    }
}

.navbar .container{
    display: grid;
    justify-content: unset;
    place-content: space-between;
}

.welcome{ 
    background: #42076bd5;
    text-align: center;
    font-size: 1.5em;
}

.about{ 
    text-align: center;
    background: #1b1b1bda;
    color:#690DAB;
    font-size: 1.5em;

    .me{
        border-radius:50%;
        border: 3px solid #690DAB;
        margin: 0.25;
    }
}

.education{ 
    background: #42076bd5;
    font-size: 1.5em;
    text-align: center;

    .down{
        font-size: 1.25em;
        color: #000000e6;
        padding: 0;
    }
    .list{
        text-align:center;
    }
}

.contact{ 
    background: #000000e6;
    text-decoration: none;
    font-size: 1.5em;
>>>>>>> Stashed changes
    color:#690DAB;
    text-align: center;
}

<<<<<<< Updated upstream
.me{
    border-radius:50%;
    border: 3px solid #690DAB;
}

a{
    font-size: 1.3em;
    color:#690DAB;
=======
a{
    font-size: 1.3em;
    color:#690DAB;
    text-decoration: none;
    padding: 0 1em;
>>>>>>> Stashed changes
}

a:hover{
    font-size: 1.3em;
    color:#e100ffa9;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
<<<<<<< Updated upstream
    padding: 2em 2em;
=======
    padding: 0.25em 2em 1em 2em;
>>>>>>> Stashed changes
}

h2{
    text-align: center;
<<<<<<< Updated upstream
=======
    font-size: 1.85em;
>>>>>>> Stashed changes
}